@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  display: flex;
  width: 100vw;
  margin: auto;
}

@layer components {
  .tile {
    @apply w-[50px] h-[50px] m-[2px] border-black border-[2px] flex items-center justify-center text-4xl font-bold;
  }
  .row {
    @apply flex;
  }
  .key-tile {
    @apply bg-gray-200 m-[2.5px] w-[1.5em] md:w-[2em] h-[3em] flex items-center justify-center font-bold text-xl rounded active:hover:bg-gray-300 cursor-pointer;
  }
  .special-key {
    @apply bg-gray-200 rounded m-[2px] w-[2.96em] md:w-[3.95em] h-[3.8em] flex items-center justify-center cursor-pointer active:bg-gray-300 font-bold;
  }

  .play-again-btn {
    @apply bg-orange-300 px-5 py-2 m-2 rounded cursor-pointer hover:bg-orange-400;
  }
  .win-msg {
    @apply text-5xl font-bold;
  }
  .play-again-msg {
    @apply text-2xl;
  }
  #board-cont {
    @apply relative;
  }
  .game-over-msg {
    @apply absolute font-bold text-3xl top-20 bg-gray-200 shadow-2xl left-2 w-[94%] h-[50%] text-center pt-1 rounded;
  }
  .btns-cont {
    @apply flex items-center justify-center;
  }
}

@layer utilities {
  .pText {
    @apply text-lg font-semibold text-center;
  }
  .not-word {
    @apply absolute bg-gray-200 p-2 rounded text-lg font-bold top-[30%] shadow-2xl z-10 w-0 h-0 flex items-center justify-center;
  }
  .space {
    @apply w-[1em] md:w-[1.4em];
  }
  .correct {
    @apply bg-green-300;
  }
  .slightly-correct {
    @apply bg-yellow-300;
  }
  .wrong {
    @apply bg-gray-400;
  }
}

.not-word {
  animation: not-word-popup 0.1s ease-in forwards;
  transform-origin: center;
}

@keyframes not-word-popup {
  0% {
  }

  10% {
    width: 30%;
    height: 10%;
  }

  100% {
    width: 28%;
    height: 8%;
  }
}

.key-tile,
.special-key {
  -webkit-tap-highlight-color: transparent;
}

.noselect {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
